<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="red.sukun1899.kotlin.mybatis.sandbox.repository.SampleRepository">

    <select id="findAll" resultType="red.sukun1899.kotlin.mybatis.sandbox.repository.Sample">
        SELECT *
        FROM parent
    </select>

</mapper>
